<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Training-UI</title>
    <!--<link rel="stylesheet" href="./bootstrap-4.3.1-dist/css/bootstrap.css" />-->
    <!--<link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.css" />-->
    <script src="./js/angular.min.js"></script>
    <script src="./js/angular-route.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/common.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/bootstrap.min.js"></script>
</head>
<body ng-app='TrainingApp'>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/">TrainingApp</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#!/search">Search Trainings</a></li>
                    <li class="active"><a href="#!/current">Current Trainings</a></li>
                    <li><a href="#!/completed">Completed Trainings</a></li>
                    <li><a href="#!/history">Payment History</a></li>
                    <li id="li-login" ng-if="null == loginUser"><a href="#!/login">Login</a></li>
                    <li id="li-user" style="display: none"><a href="#"></a></li>
                    <li id="li-logout" style="display: none"><a href="#" ng-click="$scope.logout()">Logout</a href="#"></li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-view>Training System</div>
    <script>
        var selectTraining = null;
        angular.module('TrainingApp',['ngRoute'])
            .controller('LoginController', function ($scope, $route, $http) {
                $scope.$route = $route;
                $scope.user = {};
                $scope.login = function () {
                    console.log($scope.user);
                    $http.post(baseUrl+'user/login', $scope.user)
                    .then(function (resp) {
                        console.log(resp);
                        if(resp.status == 200 && resp.data.status) {
                            window.location='#!/current';
                            loginUser = resp.data.data;
                            $("#li-login").hide();
                            $("#li-user").show();
                            $("#li-user").children("a").html(loginUser.username);
                            $("#li-logout").show();
                        } else {
                            alert('login error!');
                        }
                    })
                };
                $scope.logout = function () {
                    console.log("logout");
                    $("#li-login").show();
                    $("#li-user").hide();
                    $("#li-logout").hide();
                    window.location='#!/index';
                }
            })
            .controller('SearchController', function ($scope, $route, $http) {
                $scope.searchDto = {};
                $scope.training = new Array();
                $scope.search = function () {
                    if (null == loginUser) {
                        alert('Please login.')
                        return false;
                    }
                    $scope.searchDto.title = $("#context").val();
                    console.log($scope.searchDto);
                    $http.post(baseUrl+'training/training/search/'+loginUser.id, $scope.searchDto)
                        .then(function (resp) {
                            console.log(resp);
                            if(resp.status == 200 && resp.data.status) {
                                $scope.training = resp.data.data;
                            } else {
                                alert('search error!');
                            }
                        })
                }
                $scope.enroll = function (trainingId) {
                    if (confirm('Are you sure to enroll this training?')==true){
                        $http.post(baseUrl+'training/training/findById/'+trainingId)
                            .then(function (resp) {
                                if(resp.status == 200 && resp.data.status) {
                                    selectTraining = resp.data.data;
                                    console.log(selectTraining);
                                    window.location='#!/pay';
                                } else {
                                    alert('find error!');
                                }
                            })
                        return true;
                    }else{
                        return false;
                    }
                }
            })
            .controller('HistoryController', function ($scope, $route, $http) {
                $scope.userPayment = new Array();
                if(null != loginUser) {
                    $http.post(baseUrl+'payment/payment/findByUserId/'+loginUser.id)
                        .then(function (resp) {
                            console.log(resp);
                            if(resp.status == 200 && resp.data.status) {
                                $scope.userPayment = resp.data.data;
                            } else {
                                alert('find error!');
                            }
                        })
                }
            })
            .controller('CurrentController', function ($scope, $route, $http) {
                $scope.userTraining = new Array();
                if(null != loginUser) {
                    $http.post(baseUrl+'training/training/findByUserId/'+loginUser.id)
                        .then(function (resp) {
                            console.log(resp);
                            if(resp.status == 200 && resp.data.status) {
                                $scope.userTraining = resp.data.data;
                            } else {
                                alert('find error!');
                            }
                        })
                }
            })
            .controller('PayController', function ($scope, $route, $http) {
                $scope.remarks = '';
                $scope.selectTraining = selectTraining;
                $scope.pay = function () {
                    if (confirm('To pay?')==true){
                        if (null == loginUser) {
                            alert('Please login.')
                            return false;
                        }
                        var payment = {};
                        payment.remarks = $scope.remarks;
                        payment.amount = selectTraining.fees;
                        payment.trainingId = selectTraining.id;
                        console.log(selectTraining);
                        payment.trainingName = selectTraining.title;
                        payment.userId = loginUser.id;
                        $http.post(baseUrl+'payment/payment/save', payment)
                        .then(function (resp) {
                            console.log(resp);
                            if(resp.status == 200 && resp.data.status) {
                                $http.post(baseUrl+'user/book/'+loginUser.id+"/"+payment.trainingId)
                                .then(function (resp) {
                                    console.log(resp);
                                    if (resp.status == 200 && resp.data.status) {
                                        window.location = '#!/current';
                                    } else {
                                        alert('save error!');
                                    }
                                });
                            } else {
                                alert('save error!');
                            }
                        });
                        return true;
                    }else{
                        return false;
                    }
                }
            })
            .config(['$routeProvider', function($routeProvider){
                $routeProvider
                .when('/login',{
                    templateUrl:'./login.html',
                    controller: 'LoginController'
                })
                .when('/logout',
                    {redirectTo:'/index'}
                )
                .when('/current',{
                    templateUrl:'./current.html',
                    controller: 'CurrentController'
                })
                .when('/search',{
                    templateUrl:'./search.html',
                    controller: 'SearchController'
                })
                .when('/pay',{
                    templateUrl:'./pay.html',
                    controller: 'PayController'
                })
                .when('/history',{
                    templateUrl:'./history.html',
                    controller: 'HistoryController'
                })
                .otherwise({redirectTo:'/index'});
            }]);
    </script>

</body>
</html>